{% load blog_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static "blog/css/bootstrap-united.min.css" %}">
    <!-- <link rel="stylesheet" href="{% static "blog/css/blog.css" %}"> -->
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap-sketchy.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/main.css' %}">
    <script src="https://kit.fontawesome.com/e4a558bbd3.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="content">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div 
                    {% if message.tags %} role="alert" class="alert alert-{{ message.tags }} alert-dismissible fade show"
                    {% endif %}>{{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        </ul>
    {% endif %}
        {% block content %}
        {% endblock %}
    </div>
    <div id="sidebar">
        <h2>My Blog</h2>
        <p>This is my blog. I've written {% total_posts %} posts so far.</p>
        <hr>
        <h4>RSS</h4>
        <p><a href="{% url 'blog:post_feed' %}">
            Subscribe to my RSS feed
        </a></p>
        <hr>
        <h4>Latest posts</h4>
        {% show_latest_posts 3 %}
        <hr>
        <h4>Most commented posts</h4>
        {% get_most_commented_posts 3 as most_commented_posts %}
        <ul>
            {% for post in most_commented_posts %}
                <li>
                    <a href="{{ post.get_absolute_url}}"> {{ post.title }} </a>
                </li>
            {% endfor %}
        </ul>
        {% block sidebar %}
        {% endblock %}
    </div>
    
    <!-- Bootstrap javascript links -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
</body>
</html>