{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Share a post
{% endblock %}

{% block content %}
    <h2>
        Share <a href="{{ post.get_absolute_url }}">{{ post.title }}</a> by email
    </h2>
    <hr>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <a href="{% url 'blog:post_list' %}" class="btn btn-outline-info">Cancel</a>
        <button type="submit" class="btn btn-info"> Send E-mail </button>  
    </form>

{% endblock %}

